In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [7]:
df= pd.read_csv("C:/Users/roshan/Downloads/top_insta_influencers_data.csv")
df.head()
df1=df

In [32]:
le=LabelEncoder()
le.fit(df1["channel_info"]).fit_transform(df1["channel_info"])
df1[['channel_info','posts','followers','avg_likes','60_day_eng_rate','new_post_avg_like','total_likes']]=df1[['channel_info','posts','followers','avg_likes','60_day_eng_rate','new_post_avg_like','total_likes']].apply(LabelEncoder().fit_transform)

In [33]:
df1

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
0,1,38,30,69,95,118,81,118,36,Spain
1,2,98,29,89,53,116,91,106,73,United States
2,3,104,28,37,48,95,78,84,77,NaN
3,4,161,31,50,41,94,63,63,11,United States
4,5,178,29,88,35,9,15,129,13,United States
...,...,...,...,...,...,...,...,...,...,...
195,196,66,9,62,30,98,82,97,4,United States
196,197,125,19,72,30,64,46,43,5,France
197,198,108,17,29,30,28,19,147,17,Brazil
198,199,136,16,62,29,109,83,98,7,United States
199,200,152,18,74,26,44,23,159,114,Indonesia

In [47]:
x=df1.drop(["country","total_likes"],axis=1)
x

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like
0,1,38,30,69,95,118,81,118
1,2,98,29,89,53,116,91,106
2,3,104,28,37,48,95,78,84
3,4,161,31,50,41,94,63,63
4,5,178,29,88,35,9,15,129
...,...,...,...,...,...,...,...,...
195,196,66,9,62,30,98,82,97
196,197,125,19,72,30,64,46,43
197,198,108,17,29,30,28,19,147
198,199,136,16,62,29,109,83,98
199,200,152,18,74,26,44,23,159

In [48]:
y=df['total_likes']
y.head()

0    36
1    73
2    77
3    11
4    13
Name: total_likes, dtype: int32

In [49]:
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [50]:
classifier = RandomForestClassifier()
classifier.fit(x_train, y_train)

ValueError: Found input variables with inconsistent numbers of samples: [160, 40]

In [43]:
df1.shape

(200, 10)

In [46]:
X = pd.get_dummies(df)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the classifier
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)

# Predict the labels of the test set
predictions = classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.175